		#lion{
			height:200px;
			width:400px;
		}
		#body{
			margin:auto;
			height:500px;
			width:400px;
			box-shadow: 10px 10px 5px #B2BEB5;
			text-align:center
			
		}
		#button{
			height:30px;
			width:150px;
			color:white;
			background-color:red;
			text-align:center;
			margin:auto;
			padding-top:10px
		}
		.contant{
			margin-top:70px
		}